<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../component/css/body'); %>
        <%- include('../component/css/navbar'); %>
        <title>dashboard</title>
    
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Saepul Millah" />
        <meta name="description" content="Bergu app p2p" />
        <meta name="keywords" content="p2p,coin,duit" />  
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    
    </head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <!-- <img src="path/to/your/logo.png" alt="Logo"> -->
            <span>bergu</span>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="#" id="kirim_open">pay</a>                     
            <a href="#">wd</a>                 
        </div>

    </div>

            
    <div>
        <div class="login-container">
            <div class="container">
                <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px"> -->
                <div class="card">
                    <div id="qrcode" onclick="copyToClipboard()" class="imgqr"></div>
                </div>
                
                    <!-- <div id="balIDR" style="margin-bottom: 5px;"></div> -->
                    <div id="balBERGU" style="margin-bottom: 5px;"></div>  
                <span id="alamat" style="color: brown; font-size: 10px;"></span><br>
              </div>
  
                <div class="container">
                    <img src="./history.png" alt="history" class="collapsible">
                    <div><br>
                        <span>history user</span>
                        
                            <table id="transactionTable">
                                <thead>
                                    <tr>
                                        <th>txhash</th>
                                        <th>date time</th>
                                        <th>Opt</th>
                                        <th>Value</th>
                                        <th>C</th>
                                        <th>Sender</th>
                                        <th>Receiver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                       
                    </div>
    
                </div>
            </div>         
        </div>

        
        <!-- table kirim -->
        <div id="kirim" class="modal">
            <div class="modal-content">
                <span class="close" id="kirim_close">&times;</span>
                <div class="content">

                    <form class="form" id="loginForm">
                        <div id="alertME" class="form-group">
                        </div>
                          <div class="form-group">
                              <input type="text" id="alamatTujuan" name="alamatTujuan" required placeholder="alamat Tujuan">
                          </div>
                          <div class="form-group">
                              <input type="text" id="jumlah" name="jumlah" required placeholder="jumlah">
                          </div>
                          <div class="form-group">
                              <button type="button" onclick="kirim()" id="otp_b">kirim</button>
                          </div>
                      </form>

                </div>
            </div>
        </div>

       
    </div> 
    <%- include('../component/js/user'); %>
    <%- include('../component/js/optuser'); %>
</body>
</html>