<script>
// Fungsi cek OTP pada header untuk menentukan status login
function checkLoginStatus() {
    const token = localStorage.getItem('token');
    return !!token; // Mengembalikan true jika token ada, false jika tidak
}

// Fungsi logout
function logout() {
    localStorage.removeItem('token');
    localStorage.removeItem('alamat');
    localStorage.removeItem('secretKey');
    window.location.href = "/"; // Redirect ke halaman login setelah logout
}

// Mengubah tautan "Login" menjadi "Logout" jika pengguna sudah login
function updateLoginLogoutLink() {
    const loginLogoutLink = document.getElementById('loginLogoutLink');
    const dashboarduser = document.getElementById('dashboarduser');
    if (checkLoginStatus()) {
        
        loginLogoutLink.textContent = 'Logout';
        loginLogoutLink.href = '#'; // Atur href sesuai dengan fungsi logout
        loginLogoutLink.addEventListener('click', function (event) {
            event.preventDefault(); // Mencegah link mengarahkan ke halaman login
            logout();
        });
        dashboarduser.innerHTML= `<a href="/dashboard" id="dashboarduser">dashboard</a>`;
    } else {
        loginLogoutLink.textContent = 'Login';
        loginLogoutLink.href = '/login';
        dashboarduser.innerHTML= `<a href="/dashboard" id="dashboarduser"></a>`;
    }
}

// Panggil fungsi untuk memperbarui tautan saat halaman dimuat
document.addEventListener('DOMContentLoaded', updateLoginLogoutLink);
</script>