<script>
    function generateQRCode(hash) {
    // Create a new QRCode instance
    const qr = new QRCode(document.getElementById('qrcode'), {
        text: hash,
        width: 128,
        height: 128
    });}

    const truncateString = (inputString, maxLength) => {
        if (inputString.length > maxLength) {
            return inputString.substring(0, maxLength) + '...';
        } else {
            return inputString;
        }
    };
    const address = '<%= address %>';
    document.getElementById('alamat').innerHTML=address;
    fetch(`/api/d/${address}`)
            .then(response => response.json())
            .then(data => {
                // Call a function to populate the table with fetched data
                populateTransactionTable(data);
            })
            .catch(error => console.error('Error fetching data:', error));
    
        // Function to populate the table with data
        function populateTransactionTable(data) {
            const tableBody = document.querySelector('#transactionTable tbody');
            const balanceTable = document.querySelector('#balanceTable #balanceTableBody');
            
            const bIDR = document.getElementById('balIDR');
            const bBERGU = document.getElementById('balBERGU');
            // Loop through the data and create table rows
            data.forEach(item => {
                item.balance.forEach(bal => {
                  bBERGU.innerHTML=`bergu  : ${bal.BERGU}`;
                });
            });



            data.forEach(item => {
                item.transactions.forEach(transaction => {
                    const row = document.createElement('tr');
    
                    const up = `${truncateString(transaction.pengirim, 5)}`;                               
                    const down = `${truncateString(transaction.penerima, 5)}`;               
                    const hash = `${truncateString(item.txhash && item.txhash.length > 0 ? item.txhash.join('<br>') : '-' , 5)}`;
                    const tx = `${truncateString(item.txhash && item.txhash.length > 0 ? item.txhash.join('<br>') : '-')}`;
                    const tes = `${truncateString(item.txhash.length > 0 ? item.txhash.join('') : '')}`;
    
    // <td>${item.txhash && item.txhash.length > 0 ? item.txhash.join('<br>') : '-'}</td>
                    row.innerHTML = `
                        
                        <td><a href='/${hash}'>${hash}</td>
                        <td>${transaction.date_time}</td>
                        <td>${transaction.opt}</td>
                        <td>${transaction.currency}</td>
                        <td>${transaction.value}</td>
                        <td><a href='/${transaction.pengirim}'>${up}<a></td>
                        <td><a href='/${transaction.penerima}'>${down}<a></td>                  
                    `;
                    tableBody.appendChild(row);
                    
                });
            });



        }
    
    
        const reloadInterval = 1000; // 60 detik
        const intervalId = setInterval(fetch, reloadInterval);

        const qrMEftc = document.getElementById('alamat').value;
        const hashToGenerateQR = qrMEftc;
    generateQRCode(hashToGenerateQR);

    </script>